.App .container {
  display: block;
  margin: 12px auto 13px;
  max-width: 600px;
  height: 560px;
  background-image: linear-gradient(to top, #fde6b3 0%, #d1fdff 100%);
  border-radius: 20px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

.App .appName {
  float: right;
  font-size: 11px;
  color: #1f4068;
}
