h1,
h2 {
  font-weight: 600;
  color: #1f4068;
}

h1 {
  margin: -6px 0 14px 35px;
  font-family: "Roboto", sans-serif;
  font-size: 37px;
}

h2 {
  float: right;
  font-size: 65px;
  margin: -50px 86px;
}

.units .active {
  color: black;
}

.degrees {
  float: right;
  margin: -43px 60px;
  color: #f87808;
  transition: all 200ms ease-in-out;
}

.degrees:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.fahrenheit {
  float: right;
  margin: -43px 30px;
  color: #f87808;
  transition: all 200ms ease-in-out;
}

.fahrenheit:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.bar {
  float: right;
  margin: -44px 50px;
}