.dayInfo {
  list-style: none;
  font-size: 13px;
  line-height: 2;
  padding-left: 55px;
  margin-top: -78px;
  margin-bottom: 30px;
  text-transform: none;
}

.emojiInfo {
  margin-right: 7px;
}

.weatherDescription {
  float: right;
  margin-top: -18px;
  margin-right: -78px;
  font-size: 12px;
}
