button {
    display: block;
    border: 1px solid rgb(198, 209, 207);
    border-radius: 5px;
    padding: 5px 6px;
    background-color: transparent;
    margin: -53px 257px 17px;
    transition: all 200ms ease-in-out;
}

button:hover {
border: 1px solid #086972;
box-shadow: 10px 10px 50px #fde6b3;
cursor: pointer;
}

.bigWeatherSymbol {
width: 60px;
height: 38px;
}

.bigWeatherSymbol img {
    position: relative;
    top: -48px;
    left: 255px;
    height: 170px;
}